import(stats)

exportClasses(
  mi,
  mi.method,
  mi.fixed,
  mi.dichotomous,
  mi.polr,
  mi.categorical,
  mi.continuous,
  mi.logcontinuous,
  mi.sqrtcontinuous,
  mi.mixed,
  mi.pmm
)

exportMethods(
  lm.mi,
  glm.mi,
  call.mi,
  data.mi,
  bugs.mi,
  info.mi,
  is.mi,
  coef,
  converged,
  fitted,
  imputed,
  imp,
  m,
  mi.start,
  mi.hist,
  mi.completed,
  mi.matrix,
  mi.data.frame,
  resid,
  sigma.hat,
  typecast,
  plot,
  print,
  show
)

export(
  bugs.mi,
  call.mi,
  conv.plot,
  converged,
  convergence.plot,
  data.mi,
  imp,
  imputed,
  info.mi,
  is.mi,
  is.mi.info,
  m,
  marginal.scatterplot,
  mi,
  mi.categorical,
  mi.completed,
  mi.continuous, 
  mi.data.frame,
  mi.dichotomous,
  mi.fixed,
  mi.hist,
  mi.info,
  mi.info.fix,
  mi.info.update,
  mi.info.update.correlated,
  mi.info.update.determ.pred,
  mi.info.update.imp.formula,
  mi.info.update.imp.order,
  mi.info.update.include,
  mi.info.update.is.ID,
  mi.info.update.level,
  mi.info.update.other,
  mi.info.update.params,
  mi.info.update.transform,
  mi.info.update.type,
  mi.logcontinuous, 
  mi.matrix,
  mi.mixed,
  mi.polr,
  mi.scatterplot,
  mi.sqrtcontinuous,
  mi.start,
  missing.pattern.plot,
  mp.plot,
  typecast
)


S3method("[<-", mi.info)
S3method("$<-", mi.info)
S3method("[", mi.info)
S3method("$", mi.info)
