import(stats)

exportClasses(
  mi,
  mi.method,
  mi.fixed,
  mi.dichotomous,
  mi.polr,
  mi.categorical,
  mi.continuous,
  mi.logcontinuous,
  mi.sqrtcontinuous,
  mi.mixed,
  mi.pmm
)

exportMethods(
  coef,
  fitted,
  resid,
  mi.start,
  mi.imputed,
  mi.plot,
  mi.hist,
  plot,
  print,
  show,
  sigma.hat,
  typecast
)

export(
  imputation.models,
  mi,
  mi.models,
  mi.fixed,
  mi.dichotomous,
  mi.categorical,
  mi.polr,
  mi.continuous, 
  mi.logcontinuous, 
  mi.sqrtcontinuous,
  mi.mixed,
  mi.matrix,
  mi.data.frame,
  mi.hist,
  mi.scatterplot,
  marginal.scatterplot,
  residual.plot,
  missing.pattern.plot,
  mp.plot,
  convergence.plot,
  conv.plot,
  mi.info,
  mi.info.fix,
  mi.info.update.type,
  mi.info.update.level,
  mi.info.update.include,
  mi.info.update.is.ID,
  mi.info.update.correlated,
  mi.info.update.transform,
  mi.info.update.imp.order,
  mi.info.update.determ.pred,
  mi.info.update.params,
  mi.info.update.imp.formula,
  mi.info.update.other,
  mi.info.update,
  is.mi,
  is.mi.info,
  call.mi,
  data.mi,
  converged.mi,
  m.mi,
  bugs.mi,
  info.mi,
  imp.mi 
)


S3method(plot, mi)
S3method(print, mi)
S3method(print, mi.info)
S3method(print, mi.method)
S3method(print, mi.mixed)
S3method(lm, mi)
S3method(glm, mi)
S3method("[<-", mi.info)
S3method("$<-", mi.info)
S3method("[", mi.info)
S3method("$", mi.info)
