exportClasses(
mi,
mi.method,
mi.fixed,
mi.dichotomous,
mi.polr,
mi.categorical,
mi.continuous,
mi.logcontinuous,
mi.sqrtcontinuous,
mi.mixed,
mi.pmm
)
exportMethods(
mi.coef,
mi.start,
mi.sigma,
mi.expected,
mi.resid,
mi.imputed,
mi.plot,
mi.hist,
typecast,
show
)
export(
"imputation.models", 
"mi",
"mi.info",
"mi.models",
"mi.fixed",
"mi.dichotomous",
"mi.categorical",
"mi.polr",
"mi.continuous", 
"mi.logcontinuous", 
"mi.sqrtcontinuous",
"mi.mixed",
"mi.matrix",
"mi.hist",
"mi.scatterplot",
"marginal.scatterplot",
"residual.plot",
"mi.info.fix",
"missing.pattern.plot",
"mp.plot",
"convergence.plot",
"conv.plot",
"mi.info.update.type",
"mi.info.update.level",
"mi.info.update.include",
"mi.info.update.is.ID",
"mi.info.update.correlated",
"mi.info.update.transform",
"mi.info.update.imp.order",
"mi.info.update.determ.pred",
"mi.info.update.params",
"mi.info.update.imp.formula",
"mi.info.update.other",
"mi.info.update",
"is.mi",
"is.mi.info"
)
S3method(plot, mi)
S3method(print, mi)
S3method(print, mi.info)
S3method(print, mi.method)
S3method(print, mi.mixed)
S3method(lm, mi)
S3method(glm, mi)
S3method("[<-", mi.info)
S3method("$<-", mi.info)
S3method("[", mi.info)
S3method("$", mi.info)
